<!DOCTYPE html>
<html>

<head>

<title>Apply Job</title>

<style>

body{
font-family:Arial;
background:#f4f6f9;
}

.container{
width:40%;
margin:auto;
margin-top:80px;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input{
margin-top:20px;
}

button{
margin-top:20px;
padding:10px 20px;
background:#007bff;
color:white;
border:none;
border-radius:5px;
}

</style>

</head>

<body>

<div class="container">

<h2>Upload Resume</h2>

<form method="POST" enctype="multipart/form-data">

<input type="file" name="resume" required>

<br>

<button type="submit">Submit Application</button>

</form>

</div>

</body>

</html>