<!DOCTYPE html>
<html>

<head>

<title>Recruiter Dashboard</title>

<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">

</head>

<body>

<div class="container">

<div class="sidebar">

<h2>Recruiter</h2>

<a href="/recruiter">Dashboard</a>
<a href="/ai_screening">AI Resume Screening</a>
<a href="/post_job">Post Job</a>
<a href="/view_jobs">View Jobs</a>
<a href="/logout">Logout</a>
</div>

<div class="main">

<h1>Welcome Recruiter</h1>

<p>This is your AI recruitment dashboard.</p>

</div>

</div>

</body>

</html>
