<!DOCTYPE html>
<html>

<head>
<title>Signup</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h2>Create Account</h2>

<form method="POST">

<label>Name</label>
<input type="text" name="name" required>

<label>Email</label>
<input type="email" name="email" required>

<label>Password</label>
<input type="password" name="password" required>

<label>Role</label>
<select name="role">

<option value="candidate">Candidate</option>
<option value="recruiter">Recruiter</option>

</select>

<button type="submit">Signup</button>

</form>

<br>

<a href="/login">Already have account? Login</a>

</div>

</body>
</html>
